:root {
    --primary: rgb(243, 43, 43);
    --hover: rgb(216, 6, 6);
    --secondary: #ececec79;
    --third: #FF204E;
  }

.container {
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow-y: auto;
    display: block;
}

.admin {
    width: 900px;
    margin: 10px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow-y: auto;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}
button {
    background-color: var(--primary);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}
button:hover {
    background-color: var(--hover);
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    object-fit: cover;
    border: 3px solid var(--third);
}

.photo-upload {
    text-align: center;
    margin-bottom: 20px;
}
input[type="file"] {
    display: none;
}
.upload-btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.upload-btn:hover {
    background-color: #e0e0e0;
}

/* slidebar collapse */
.submenu {
    display: none;
    border-radius: 17px;
    /* padding-left: 30px; */
    list-style: none;
    background-color: #4747472c;
}

.submenu.active {
    display: block;
}

.submenu a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    transition: 0.3s;
}

.submenu a:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

.arrow {
    float: right;
    rotate: 90deg;
    margin-left: 85px;
    transition: transform 0.3s;
    margin-right: 15px;
}

.arrow.active {
    transform: rotate(-180deg);
}

.has-submenu {
    cursor: pointer;
}